{% extends "base.html" %}
{% block title %}Dan Foreman-Mackey's Blog{% endblock %}
{% block content %}

<section>

    <h2>Blog</h2>
    This is where I occasionally write things about data analysis and stuff.

    <ul>
    {% for article in dates %}
    <li>
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a> &mdash;
    {{ article.summary | striptags }}
    </li>
    {% endfor %}
    </ul>

</section>

{% endblock %}
