{% extends "base.html" %}
{% block title %}Dan Foreman-Mackey{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/page.css" type="text/css" />
{% endblock %}

{% block content %}

{% include "topavatar.html" %}
<div class="container">

    <h1>Blog</h1>

    <ul class="projects">
    {% for article in dates %}
    <li>
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a> &mdash;
    {{ article.summary | striptags }}
    </li>
    {% endfor %}
    </ul>

</div>

{% endblock %}
