{% extends "base.html" %}

{% block title %}{{ article.title }} by Dan Foreman-Mackey{% endblock %}

{% block head %}
    {{ super() }}

    {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
    {% endfor %}

    {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
    {% endfor %}

    {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
    {% endfor %}

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/article.css" type="text/css" />
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
            TeX: { equationNumbers: { autoNumber: "all" } }
        });
    </script>
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}

{% block content %}

<div class="topimage" style="background-image: url('{{ article.image }}');{%- if article.position -%}background-position: {{ article.position }};{%- endif -%}">
    <div class="shim"></div>
    {% include "topbar.html" %}
</div>

<div class="container">

    <div class="page-title">
        <h1>{{ article.title }}</h1>
        {% if article.status == "draft" %}
        <p>DRAFT VERSION</p>
        {% else %}
        <p>{{ article.date | strftime('%B %d, %Y') }}</p>
        {% endif %}
    </div>

    <section>
        {{ article.content }}
    </section>
</div>

{% if article.status != "draft" %}
<div class="container">

    <h2>Discussion</h2>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'dfmio',
            disqus_identifier = '{{ article.slug }}',
            disqus_title = '{{ article.title }}';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>
        Please enable JavaScript to view the
        <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</div>
{% endif %}

{% endblock %}
