<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}Dan Foreman-Mackey{% endblock %}</title>
    <meta id="viewport" name="viewport" content="width=500" />
    <meta name="description"
        content="Dan Foreman-Mackey is an Associate Research Scientist at the Center for Computational Astrophysics in the Flatiron Institute at the Simons Foundation." />

    {% if EXTRA_HEADER %}
    {{ EXTRA_HEADER }}
    {% endif %}

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/base.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/code.css" type="text/css" />

    <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/images/avatar.png" sizes="200x200">
    <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/images/favicon.png" sizes="32x32">

    {% block head %}{% endblock %}

</head>

<body>

    <div class="content">

        <header>
            <img src="{{ SITEURL }}/theme/images/avatar.png" alt="me">
            <h1><a href="{{ SITEURL }}/">Dan Foreman-Mackey</a></h1>
            <ul>
                <li><a href="{{ SITEURL }}/#code">Code</a></li>
                <li><a href="{{ SITEURL }}/#pubs">Publications</a></li>
                <li><a href="https://github.com/dfm/cv">CV</a></li>
                <li><a href="{{ SITEURL }}/posts/">Blog</a></li>
            </ul>
        </header>

        {% block content %}{% endblock %}

        <footer>

            Copyright 2014, 2015, 2016, 2017, 2018, 2019, 2020 Dan Foreman-Mackey unless otherwise noted.<br>
            Licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><b>Creative Commons</b></a>.<br>
            Find me on <a href="https://twitter.com/exoplaneteer">Twitter</a> or
            <a href="mailto:foreman.mackey@gmail.com">drop me a line</a>.

        </footer>

    </div>

    {% include "analytics.html" %}

</body>

</html>