{% extends "base.html" %}
{% block title %}Dan Foreman-Mackey &mdash; C.V.{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/cv.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/fonts/lmroman/stylesheet.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/cv-print.css" type="text/css" />
{% endblock %}
{% block content %}
{% include "topavatar.html" %}

<div class="container">
    {{ page.content }}
</div>

{% endblock %}
