<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}Dan Foreman-Mackey{% endblock %}</title>
<meta id="viewport" name="viewport" content="width=500" />

<link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css" type="text/css" />
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/base.css" type="text/css" />
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/code.css" type="text/css" />
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/index.css" type="text/css" />

</head>
<body>

<div class="index-body">
    <div class="shim"></div>
    <div class="index-inner">

        {% include "topbar.html" %}

        <div class="social">
            <a href="https://github.com/dfm"><i class="fa fa-github fa-3x"></i></a>
            <a href="https://twitter.com/exoplaneteer"><i class="fa fa-twitter fa-3x"></i></a>
            <a href="http://arxiv.org/find/all/1/au:foreman_mackey/0/1/0/all/0/1"><i class="fa fa-pencil fa-3x"></i></a>
            <a href="https://speakerdeck.com/dfm"><i class="fa fa-bullhorn fa-3x"></i></a>
        </div>

    </div>
</div>

{% include "analytics.html" %}

</body>
</html>
